@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure global dark mode styles apply
body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
} */


.letter-cell {
  @apply w-12 h-12 sm:w-14 sm:h-14;
  @apply border border-gray-300;
  @apply flex items-center justify-center;
  @apply text-2xl font-bold dark:text-white;
  @apply cursor-pointer;
  @apply transition-all duration-500;
  @apply select-none;
}

.letter-cell-white {
  @apply bg-white dark:bg-gray-800;
  @apply border-gray-300 dark:border-gray-600;
  @apply text-gray-900 dark:text-white;
}

.letter-cell-yellow {
  @apply bg-yellow-400;
  @apply border-yellow-500;
  @apply text-black;
}

.letter-cell-green {
  @apply bg-green-500;
  @apply border-green-600;
  @apply text-white;
}

.letter-cell-gray {
  @apply bg-gray-700;
  @apply border-gray-800;
  @apply text-white;
}

@theme {  
  --animate-wiggle: wiggle 3s ease-in-out infinite; 
  @keyframes wiggle {    
    0%,    100% {      transform: rotate(-15deg);    }   
    50% {      transform: rotate(15deg);    }  
  }

  --animate-title-shine: title-shine 4s ease-in-out infinite;
  @keyframes title-shine {
    0%, 100% {
      background-size: 200% 200%;
      background-position: 0% 50%;
    }
    50% {
      background-size: 200% 200%;
      background-position: 100% 50%;
    }
  }

  --animate-glow: glow 1.5s infinite;
  @keyframes glow {
      0%, 100% { boxShadow: 0 0 10px #ff00ff; }
      50% { boxShadow: 10px 0 20px #ffffff; }
  }
}
